@model HistClinica.Models.PERSONA

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Persona</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.apellidoPaterno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.apellidoPaterno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.apellidoMaterno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.apellidoMaterno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nombres)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nombres)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.idTipoDocumento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.idTipoDocumento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.dniPersona)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.dniPersona)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.idSexo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.idSexo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.idEtnico)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.idEtnico)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fechaNacimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fechaNacimiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.idUbigeoResidencia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.idUbigeoResidencia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.idtipoVia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.idtipoVia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nombreVia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nombreVia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.numeroVia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.numeroVia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.numeroDepartamento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.numeroDepartamento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.interior)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.interior)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.manzana)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.manzana)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.numeroLote)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.numeroLote)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.numeroKilometro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.numeroKilometro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.numeroBloque)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.numeroBloque)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.numeroEtapa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.numeroEtapa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.edad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.edad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.idUbigeoNacimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.idUbigeoNacimiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fotografia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fotografia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.idGradoInstruccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.idGradoInstruccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.idReligion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.idReligion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.centroEducativo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.centroEducativo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.idEstadoCivil)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.idEstadoCivil)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.idOcupacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.idOcupacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.numeroRuc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.numeroRuc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.razonSocial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.razonSocial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.estadoRuc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.estadoRuc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.condicionRuc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.condicionRuc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.domicioFiscal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.domicioFiscal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.idParentesco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.idParentesco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.celular)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.celular)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.correo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.correo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.idDatoSiteds)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.idDatoSiteds)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.idEmpresaConvenio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.idEmpresaConvenio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.idCompañiaSeguro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.idCompañiaSeguro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.idTipoIafa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.idTipoIafa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.idEstado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.idEstado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.idPersona">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
