
@model Clinica2._0.Models.LICENCIA
<div class="modal-dialog modal-lg" role="document">
	<div class="modal-content">
		<div class="modal-header bg-primary">
			<h4 class="modal-title text-center" id="exampleModalLabel">Editar Licencia</h4>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		@using (Html.BeginForm("Edit", "Licencia", FormMethod.Post, new { @id = "frmregistrartipo" }))
		{
			@Html.AntiForgeryToken()
			@Html.ValidationSummary(true, "", new { @class = "text-danger" })
			@Html.HiddenFor(m => m.idLicencia)
			<div class="modal-body">

				<div class="row">
					<div class="col-md-9">
						<div class="row">
							<div class="col-sm-12">
								<label>Turno</label>
							</div>
							<div class="col-sm-12">
								<div class="row">
									<div class="col-sm-6">
										<div class="row">
											<div class="col-sm-4">
												Hora Inicio
											</div>
											<div class="col-sm-8">
												@Html.DropDownList("horainic", new SelectList(ViewBag.listahoras), "Seleccione", new { @class = "form-control" })
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="row">
											<div class="col-sm-4">
												Hora Fin
											</div>
											<div class="col-sm-8">
												@Html.DropDownList("horafinc", new SelectList(ViewBag.listahoras), "Seleccione", new { @class = "form-control" })
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
					<div class="col-sm-3">

					</div>


				</div>
				<div class="row">
					<div class="col-sm-9">
						<div class="row">
							<div class="col-sm-12 pt-3">
								<label>Reemplazo</label>
							</div>
							<div class="col-sm-12 pb-4">
								<div class="row">
									<div class="col-sm-2">
										Mèdico
									</div>
									<div class="col-sm-5">
										@Html.DropDownListFor(m => m.idMedico, new SelectList(ViewBag.listamedicos, "idMedico", "nombres"), "Seleccione", new { @class = "form-control" })
									</div>
									<div class="col-sm-5">

									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="row">
									<div class="col-sm-6">
										<div class="row">
											<div class="col-sm-4">
												Hora Inicio
											</div>
											<div class="col-sm-8">
												@Html.DropDownListFor(m => m.horaInicio, new SelectList(ViewBag.listahoras), "Seleccione", new { @class = "form-control" })
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="row">
											<div class="col-sm-4">
												Hora Fin
											</div>
											<div class="col-sm-8">
												@Html.DropDownListFor(m => m.horaFin, new SelectList(ViewBag.listahoras), "Seleccione", new { @class = "form-control" })
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row pt-4 pb-3">
							<div class="col-sm-12">
								<div class="row">
									<div class="col-sm-6">
										<div class="row">
											<div class="col-sm-4">
												Fecha Inicio
											</div>
											<div class="col-sm-8">
												@Html.EditorFor(m => m.fechaInicio, new { htmlAttributes = new { @class = "form-control", @type = "Date" } })
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="row">
											<div class="col-sm-4">
												Fecha Fin
											</div>
											<div class="col-sm-8">
												@Html.EditorFor(m => m.fechaFin, new { htmlAttributes = new { @class = "form-control", @type = "Date" } })
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3">

					</div>
				</div>

				<div class="modal-footer">
					<button style="width: 80px;" type="submit" class="btn btn-primary">Guardar</button>
					<button style="width: 80px;" type="submit" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		}

	</div>
</div>