@model Clinica2._0.DTO.PersonaDTO

@{
	ViewBag.Title = "Registro";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
	<div class="col-sm-12">
		<div class="row">
			<div class="col-sm-12 pb-2  card-height">
				<div class="card card-primary  card-his">
					<div class="card-header card-shadow">
						<h2>Registro de personal</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12 pt-5">
		@using (Html.BeginForm())
		{
			@Html.AntiForgeryToken()
			@Html.ValidationSummary(true, "", new { @class = "text-danger" })
			<div class="row">
				<div class="col-md-6">
					<div class="box box-primary">
						<div class="box-body">
                            <div class="col-sm-12">
                                <div class="input-style">
                                    <label class="form-label">TIPO DE EMPLEADO</label>
                                    @Html.DropDownListFor(m => m.personal.idTipoEmpleado, new SelectList(ViewBag.lsttipoempleado, "idtab", "descripcion"), new { @class = "form-control", @id = "cboemple" })
                                </div>
                            </div>
                           
                            <div class="col-sm-12">
                                <div class="input-style">
                                    <label for="txtNombres" class="form-label">NOMBRES</label>
                                    @Html.TextBoxFor(m => (m.nombres), new { @class = "form-control", tabindex = 2 })
                                    @Html.ValidationMessageFor(model => model.nombres, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="input-style">
                                    <label for="txtNroDocumento"  class="form-label">DOCUMENTO DE IDENTIDAD</label>
                                    @Html.TextBoxFor(m => m.numeroDocumento, new { @class = "form-control", tabindex = 5, @onkeypress = "return isNumberKey(event);" })
                                    @Html.ValidationMessageFor(model => model.numeroDocumento, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="input-style">
                                    <label for="txtcargo"  class="form-label">CARGO</label>
                                    @Html.TextBoxFor(m => m.personal.cargo, new { @class = "form-control", tabindex = 7 })
                                    @Html.ValidationMessageFor(model => model.personal.cargo, "", new { @class = "text-danger" })
                                </div>
                             </div>
                            <div class="col-sm-12">
                                <div class="input-style">
                                    <label for="txtTelefono"  class="form-label">TELÉFONO</label>
                                    @Html.TextBoxFor(m => m.telefono, new { @class = "form-control", tabindex = 9, @onkeypress = "return isNumberKey(event);" })
                                    @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
                                </div>
                            </div>
                                <div id="esp1" class="form-group" style="display:none;">
                                    <label for="txtespecialidad" >ESPECIALIDAD</label>
                                </div>
                                <div id="esp2" class="form-group" style="display:none;">
                                    @Html.DropDownListFor(m => m.personal.idEspecialidad, new SelectList(ViewBag.listaespecialidades, "idtab", "descripcion"), new { @class = "form-control" })
                                </div>
                            </div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="box box-primary">
                        <div class="box-body">

                            <div class="col-sm-12">
                                <div class="input-style">
                                    <label for="txtarea"  class="form-label">AREA</label>
                                    @Html.TextBoxFor(m => m.personal.descripcionArea, new { @class = "form-control", tabindex = 1 })
                                    @Html.ValidationMessageFor(m => m.personal.descripcionArea, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="input-style">
                                    <label for="txtApPaterno"  class="form-label">APELLIDO PATERNO</label>
                                    @Html.TextBoxFor(m => (m.apellidoPaterno), new { @class = "form-control", tabindex = 3 })
                                    @Html.ValidationMessageFor(m => m.apellidoPaterno, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="input-style">
                                    <label for="txtApPaterno"  class="form-label">APELLIDO MATERNO</label>
                                    @Html.TextBoxFor(m => (m.apellidoMaterno), new { @class = "form-control", tabindex = 6 })
                                    @Html.ValidationMessageFor(m => m.apellidoMaterno, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="input-style">
                                    <label id="txtfecingresopersonal"  class="form-label">FECHA NACIMIENTO</label>
                                    @Html.TextBoxFor(m => m.fechaNacimiento, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "Date", tabindex = 8, @Value = @DateTime.Now.ToShortDateString() })
                                    @Html.ValidationMessageFor(m => m.fechaNacimiento, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="input-style">
                                    <label id="txtfecingresopersonal"  class="form-label">FECHA INGRESO</label>
                                    @Html.TextBoxFor(m => m.personal.fechaIngreso, new { @class = "form-control", @type = "Date", tabindex = 10 })
                                    @Html.ValidationMessageFor(m => m.personal.fechaIngreso, "", new { @class = "text-danger" })
                                </div>
                            </div>
                                <div id="ruc1" class="form-group" style="display:none;">
                                    <label for="txtruc">N° DE RUC</label>
                                </div>
                                <div id="ruc2" class="form-group" style="display:none;">
                                    @Html.TextBoxFor(m => m.numeroRuc, new { @class = "form-control", tabindex = 11, @onkeypress = "return isNumberKey(event);" })
                                    @Html.ValidationMessageFor(m => m.numeroRuc, "", new { @class = "text-danger" })
                                </div>
                                <div id="col1" class="form-group" style="display:none;">
                                    <label for="txtNroColegio">CMP</label>
                                </div>
                                <div id="col2" class="form-group" style="display:none;">
                                    @Html.TextBoxFor(m => m.personal.numeroColegio, new { @class = "form-control", tabindex = 12, @onkeypress = "return isNumberKey(event);" })
                                    @Html.ValidationMessageFor(m => m.personal.numeroColegio, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        </div>
			</div>
			<div class="row m-0 p-0 pb-2">
				<div class="col-sm-12 text-right pd-xs-0 mt-sm-2 pt-4 ">
					<input type="submit" class="btn btn-primary" style="width: 112px;font-size: 16px;" value="Guardar">
				</div>
			</div>
		}
	</div>
</div>
<script src="~/js/ActionsPersona.js"></script>
@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}