
@model IEnumerable<Clinica2._0.DTO.MedicoDTO>

<div class="modal-dialog modal-lg" role="document">
	<div class="modal-content" style="width:1200px;position:relative;right:137px;">
		<div class="modal-header">
			<h2 class="modal-title text-center pl-3" id="exampleModalLabel1">Consultar</h2>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="container">
			<div class="col-sm-12 pt-5 pb-5">
				@using (Html.BeginForm("ConsultarMedEsp", "Cronograma"))
				{
					<div class="row">
						<div class="col-sm-12 form-inline mb-5">

							<label class="pr-2">Nombre medico:</label>
							<input type="text" id="nombremedico" class="form form-control small-input col-2" />

							<label class="pl-3 pr-2">Apellido Medico:</label>
							<input type="text" id="apellidomedico" class="form form-control small-input col-2" />

							<label class="pl-3 pr-2">Especialidad</label>
							@Html.DropDownList("especialidad", new SelectList(ViewBag.listaespecialidades, "idtab", "descripcion"), "Seleccionar", new { @class = "form-control small-input col-2", id = "especialidad" })
							<a class="pl-2 btn btn-primary" style="color:white; margin-left:10px;" onclick="FiltroCronogramaMedEspPost();">Buscar</a>
						</div>
					</div>
				}

				<div class="row pt-3">
					<div class="col-sm-12">
						<table class="table table-bordered table-hover text-center" id="consultacronogrid">
							<thead>
								<tr>
									<th style="display:none">IdEspecialidad</th>
									<th>Id</th>
									<th>Medico</th>
									<th>Especialidad</th>
									<th>Fecha Ingreso</th>
									<th>Accion</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
								<tr>
									<td class="especialidad" style="display:none">@item.idespecialidad</td>
									<td>@item.idmedico</td>
									<td class="medico">@item.nombres</td>
									<td>@item.especialidad</td>
									<td>@item.fechaingreso</td>
									<td><button id="btnseleccionar" class="btn btn-primary">Seleccionar</button></td>
								</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
				<div class="row pt-2">
					<div class="col-sm-12 text-right">
						<button class="btn btn-primary" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

