@model IEnumerable<Clinica2._0.DTO.CronogramaDTO>
@{
	ViewData["Title"] = "Index";
}

<div class="container">
	<div class="col-sm-12">
		<div class="row">
            <div class="col-sm-12 pt-2 pb-3" style="height:60px">
                <div class="card card-primary card-his">
                    <div class="card-header card-shadow">
                        <h2>Horario de Medico</h2>
                        </div>
                        </div>
                    </div>
                </div>


                <partial name="Create" model="new Clinica2._0.Models.CRONOGRAMA_MEDICO()">

                    @if (ViewBag.message != null)
                    {
                        <div class="col-sm-12 alert alert-info alert-dismissible text-center" id="success-alert" role="alert" style="margin-top: 15px;">
                            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            @ViewBag.message
                        </div>
                    }

                    <div class="row pt-3">
                        <div class="col-sm-12">
                            <table class="table table-responsive table-bordered table-hover text-center" id="cronogramagrid">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Fecha Ini</th>
                                        <th>Fecha Fin</th>
                                        <th>Hora ini</th>
                                        <th>Hora fin</th>
                                        <th>Estado</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.idProgramMedica</td>
                                            <td>@item.fechaInicio</td>
                                            <td>@item.fechaFin</td>
                                            <td>@item.horaInicio</td>
                                            <td>@item.horaFin</td>
                                            <td>@item.descripcionEstado</td>
                                            <td>
                                                <button type="submit" class="edit btn btn-primary"><i class="fas fa-edit"></i></button>
                                                <button type="submit" class="delete btn btn-danger"><i class="fas fa-minus"></i></button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
</div>

<div class="modal fade" id="modaldeletecrono" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
</div>
<script src="~/js/cargavistaparcial.js"></script>
@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
