@model Clinica2._0.Models.TABLA_DETALLE

@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TABLA_DETALLE</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.codigoTablaDetalle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.codigoTablaDetalle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.abreviatura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.abreviatura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fuente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fuente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idEstado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idEstado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idTablaGeneral)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idTablaGeneral)
        </dd>
    </dl>
    
    <form asp-action="Eliminar">
        <input type="hidden" asp-for="idTablaDetalle" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
