@model Clinica2._0.Clinica.DTO.CitaCupoDTO
<div class="modal-dialog modal-lg" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<h2 class="modal-title text-center" id="exampleModalLabel1">Reprogramacion de cita ambulatoria</h2>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 pl-4">
					<div class="row">
						<div class="col-sm-12 pl-2" style="border: 1px solid rgba(128, 128, 128, 0.29);
            									border-radius: 9px;
            									margin-top: 1rem;
            			">
							<input type="hidden" id="cita" name="name" asp-for="idcita"/>
							<div class="row">
								<div class="col-sm-12">
									<span class="text-red">Elija fecha y medico, a quien le transferira los pacientes citados</span>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<div class="input-style">
										<label for="txtNroDocumento" class="form-label">Fecha</label>
										<input type="date" name="fecha" value="" class="form-control" />
									</div>
								</div>
								<div class="col-sm-8">

								</div>
							</div>
							<div class="row">
								<div class="col-sm-5">
									<div class="input-style">
										<label for="txtNroDocumento" class="form-label">Medico</label>
										@Html.DropDownList("idmedico", new SelectList(ViewBag.listamedicos, "idMedico", "nombres"), "Seleccionar", new
									{
								   @class = "form-control",
								   data_cascade_combo = "#stypes",
								   data_cascade_combo_source = Url.Action("GetEspecialidad", "Cronograma"),
								   data_cascade_combo_param_name = "id"
							   })
									</div>
								</div>
								<div class="col-sm-7">

								</div>
							</div>
							<div class="row">
								<div class="col-sm-5">
									<div class="input-style">
										<label for="txtNroDocumento" class="form-label">Especialidad</label>
										@Html.DropDownList("idespecialidad", new SelectList(ViewBag.listaespecialidades, "idtab", "descripcion"), "Seleccionar", new { @class = "form-control", id = "stypes" })
									</div>
								</div>
								<div class="col-sm-7">

								</div>
							</div>
							<div class="row pt-2">
								<div class="col-sm-12">
									<button class="btn btn-primary">Buscar</button>
								</div>
							</div>


							<div class="row pt-3">
								<div class="col-sm-12">
									<table class="table table-responsive table-bordered table-hover text-center" id="citagrid">
										<thead>
											<tr>
												<th>Id</th>
												<th>Hora</th>
												<th>Medico</th>
												<th>CMP</th>
												<th>Historia</th>
												<th>Paciente</th>
												<th>Confirmado</th>
												<th>Hora <br> Registro</th>
												<th>N° <br>cuenta</th>
												<th>N° Orden</th>
												<th>Consultorio</th>
												<th>Tipo Afiliado</th>
												<th>Acciones</th>
											</tr>
										</thead>
										<tbody>
											@foreach (var item in Model.citas)
											{
												<tr>
													<td>@item.idCita</td>
													<td>@item.hora</td>
													<td nowrap>@item.Medico</td>
													<td>@item.CMP</td>
													<td></td>
													<td>@item.nombrePaciente</td>
													<td>@item.estadoPago</td>
													<td></td>
													<td></td>
													<td></td>
													<td>@item.consultorio</td>
													<td></td>
													<td>
														<a asp-controller="Cita" asp-action="Edit" asp-route-id="@item.idCita" type="submit" class="edit btn btn-primary mb-2"><i class="fas fa-address-book"></i></a>
													</td>
												</tr>
											}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>