@model Clinica2._0.DTO.CitaDTO


<div class="modal-dialog modal-lg" role="document">
	<div class="modal-content">
		<div class="modal-header bg-primary">
			<h2 class="modal-title text-center" id="exampleModalLabel1">Reserva de cita</h2>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="container-fluid">
			@using (Html.BeginForm(FormMethod.Post, new { @id = "frmregistrocita" }))
			{
				@Html.AntiForgeryToken()
				@Html.ValidationSummary(true, "", new { @class = "text-danger" })
				@Html.HiddenFor(m => m.idCita)
				@Html.HiddenFor(m => m.idProgramacionMedica)
				@Html.HiddenFor(m => m.idconsultorio)
			<div class="col-sm-12 pt-3">
				<div class="row">
					<div class="col-sm-12">
						<div class="input-style">
							<label class="form-label">Medico</label>
							<input style="font-weight:bold;font-size:15px;" type="text" asp-for="Medico" class="form-control" disabled />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<div class="input-style">
							<label class="form-label">Fecha</label>
							@Html.EditorFor(m => m.fecha, new { htmlAttributes = new { @class = "form-control" } })
						</div>
					</div>
					<div class="col-sm-4">
						<div class="input-style">
							<label class="form-label">Hora</label>
							@Html.EditorFor(m => m.hora, new { htmlAttributes = new { @class = "form-control" } })
						</div>
					</div>
					<div class="col-sm-4">
						<div class="input-style">
							<label class="form-label">Consultorio</label>
							@Html.EditorFor(m => m.consultorio, new { htmlAttributes = new { @class = "form-control" } })
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2">
						<div class="input-style">
							<label class="form-label">Dni</label>
							<input type="text" id="dnipac" class="form-control"/>
							@Html.ValidationMessageFor(m => m.dniPaciente, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="col-sm-1 text-left p-0">
						<div class="input-style">
							<a onclick="BuscarPacienteDni();" class="btn btn-primary text-white"><i class="fa fa-search" aria-hidden="true"></i></a>
						</div>
					</div>
					<div class="col-sm-9">
						<div class="input-style">
							<label class="form-label">Paciente</label>
							<input type="hidden" asp-for="idPaciente" id="idpaciente" />
							<input type="text" id="nombrepaciente" class="form-control" />
							@Html.ValidationMessageFor(m => m.nombrePaciente, "", new { @class = "text-danger" })
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<div class="input-style">
							<label class="form-label">N° Historia</label>
							<input type="text" id="historiac" asp-for="numeroHc" class="form-control" />
							@Html.ValidationMessageFor(m => m.numeroHc, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="col-sm-4">
						<div class="input-style">
							<label class="form-label">N° Cuenta</label>
							<input type="text" id="cuenta" asp-for="cuenta" class="form-control" />
						</div>
					</div>
					<div class="col-sm-4">
						<div class="input-style">
							<label class="form-label">N° Orden</label>
							<input type="text" id="nrorden" asp-for="numeroorden" class="form-control" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="input-style">
							<label class="form-label">Tipo de citado</label>
							<input type="text" name="name" class="form-control" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<div class="input-style">
							<label class="form-label">Codigo del Plan</label>
							<input type="text" id="plan" class="form-control" />
						</div>
					</div>
					<div class="col-sm-4">
						<div class="input-style">
							<label class="form-label">N° Contrato</label>
							<input type="text" id="contrato" class="form-control" />
						</div>
					</div>
					<div class="col-sm-4">
						<div class="input-style">
							<label class="form-label">Moneda</label>
							<input type="text" name="name" class="form-control" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-9">
						<div class="input-style">
							<label class="form-label">Aseguradora</label>
							<input type="text" id="aseguradora" class="form-control" />
						</div>
					</div>
					<div class="col-sm-3">
						<div class="input-style">
							<label class="form-label">Deducicle</label>
							<input type="text" name="name" class="form-control" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-9">
						<div class="input-style">
							<label class="form-label">Contratante</label>
							<input type="text" id="contratante" class="form-control" />
						</div>
					</div>
					<div class="col-sm-3">
						<div class="input-style">
							<label class="form-label">Coaaseguro</label>
							<input type="text" name="name" class="form-control" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-9">
						<div class="input-style">
							<label class="form-label">Tarifa</label>
							<input type="text" name="name" class="form-control" />
						</div>
					</div>
					<div class="col-sm-3">
						<div class="input-style">
							<input type="text" name="name" class="form-control" />
						</div>
					</div>
				</div>
				<div class="row pt-3 pb-3">
					<div class="col-sm-12 text-right">
						<button type="submit" class="btn btn-primary">Grabar</button>
					</div>
				</div>
			</div>
			}
		</div>
	</div>
</div>





<script src="~/js/cargavistaparcial.js"></script>






